.body {
    @include fixed_grid(1fr, 10vh 1fr 10vh, "header" "main" "footer", 0, initial, initial);
    
    font: {
        family: $body-font;
        weight: $body-font-weight;
    }
    color: $font-color;
    line-height: $line-height;
}