.footer {
    grid-area: footer;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    padding: var(--content-centering);
}