.aboutme {
  @include fixed_grid(
    1fr,
    repeat(3, minmax(min-content, max-content)),
    none,
    $row-gap
  );
  padding: var(--content-centering);

  @media #{$mobile-tablet} {
    @include fixed_grid(
      repeat(2, 1fr),
      repeat(2, minmax(min-content, max-content)),
      none,
      $general-gap
    );
  }

  &__picture {
    width: 70%;
    filter: brightness(75%);
    border-radius: $border-radius;

    @media #{$mobile-tablet} {
      justify-self: right;
    }
  }
}
