.contact {
  display: grid;
  @include fixed_grid(
    1fr,
    repeat(3, minmax(min-content, max-content)),
    none,
    $row-gap
  );
  padding: var(--content-centering);
  padding-bottom: 20px;

  @media #{$mobile-tablet} {
    @include fixed_grid(
      repeat(2, 1fr),
      repeat(2, minmax(min-content, max-content)),
      none,
      $general-gap
    );
  }

  &__action-call {
    color: inherit;
  }
}
