.cta {
  @include flex(row, nowrap, center, center);

  &__button {
    display: table;
    width: 100%;
    padding: 10px;
    font: {
      family: $titles-font;
      size: 1.4em;
    }
    text-decoration: none;
    text-align: center;
    animation: flash 0.5s ease-in-out infinite alternate;

    &::after {
      content: ">";
      display: inline-block;
      margin-left: 10px;
    }

    @keyframes flash {
      from {
        color: $font-color;
        border-bottom: 2px solid white;
      }

      to {
        color: $accent-color;
        border-bottom: 2px solid $accent-color;
      }
    }

    @media #{$mobile-tablet} {
      font-size: 2em;
    }
  }
}
