.not-found {
  @include flex(column, nowrap, center, center);
  @include hero_background(
    rgba(0, 0, 0, 0.8),
    $not-found-bg,
    overlay,
    center,
    fixed
  );
  height: 80vh;
  padding: var(--content-centering);

  &__msg {
    text-align: center;
    font: {
      family: $titles-font;
      size: 2rem;
    }
    text-transform: uppercase;
    padding: 0 10px;
  }

  &__explanation {
    font-style: $titles-font;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  &__go-home {
    @include flex(row, wrap, center, center);
    text-decoration: none;
    font-family: $titles-font;
    font-size: 1.5em;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }

  &__go-home:hover {
    color: $font-color;
    background-color: $main-color;
  }
}
