.not-found {
  @include flex(column, nowrap, center, center);
  height: 80vh;
  padding: var(--content-centering);

  &__msg {
    text-align: center;
    font: {
      family: $titles-font;
      size: 2rem;
    }
    text-transform: uppercase;
    padding: 0 10px;
  }

  &__explanation {
    font-style: $titles-font;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  &__go-home {
    width: 256px;
    padding: 10px;
    font: {
      family: $titles-font;
      size: 1.4em;
    }
    text-decoration: none;
    text-align: center;
    animation: flash 0.5s ease-in-out infinite alternate;

    &::before {
      content: "<";
      display: inline-block;
      margin-right: 10px;
    }

    @keyframes flash {
      from {
        color: $font-color;
        border-bottom: 2px solid white;
      }

      to {
        color: $accent-color;
        border-bottom: 2px solid $accent-color;
      }
    }
  }
}
