.project-card {
  display: grid;
  @include fixed_grid(
    1fr,
    repeat(3, minmax(min-content, max-content)),
    none,
    $row-gap
  );
  width: 100%;
  background-color: $secondary-color;
  filter: saturate(0);
  transition: filter .2s;

  &:hover {
    filter: saturate(100%);
  }

  &__link {
    display: block;
    width: 100%;
  }

  &__thumbnail {
    display: block;
    width: 100%;
  }

  &__name {
    display: block;
    font: {
      size: 1.5em;
      family: $body-font;
      weight: 700;
    }
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__desc {
    display: block;
    padding: 0 20px 20px 20px;
  }
}
