.project-card {
    display: grid;
    @include fixed_grid(1fr, repeat(3, minmax(min-content, max-content)), none, $row-gap);
    width: 100%;
    padding: 20px;
    border-radius: $border-radius;
    background-color: $secondary-color;

    &__link {
        display: block;
        width: 100%;
    }
    
    &__thumbnail {
        display: block;
        width: 100%;
        border-radius: calc(#{$border-radius} / 2);
    }
    
    &__name {
        display: block;
        font-size: 1.5em;
        font-family: $titles-font;
    }
    
    &__desc {
        display: block;
    }
}
