.splash-screen {
    position: fixed;
    @include flex(column, nowrap, center, center);
    width: 100vw;
    height: 100vh;
    z-index: $z-modal;
    background-color: rgb(12, 12, 12);
    opacity: 1;
    transition: opacity .1s linear 1s;
    
    &__logo {
        position: relative;
        display: block;
        width: 70px;
        border-radius: 100%;
    }
    
    &__loader {
        position: absolute;
        border: 5px solid rgba(255, 255, 255, 0);
        border-top: 5px solid $accent-color;
        border-bottom: 5px solid $accent-color;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spin .8s linear infinite;
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
