.testimonial-card {
    display: grid;
    @include fixed_grid(1fr, repeat(4, minmax(min-content, max-content)), none, $row-gap);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: $secondary-color;

    &__client-photo {
        display: block;
        width: 100%;
        border-radius: calc(#{$border-radius} / 2);
    }
    
    &__client-name {
        font-family: $titles-font;
        font-size: 1.5em;
        text-align: center;
    }
    
    &__client-desc {
        font-family: $titles-font;
        font-size: .90em;
        text-align: center;
        font-style: italic;
    }
    
    &__client-review {
        font-style: italic;
    }
}