.welcome {
    position: relative;
    @include flex(column, nowrap, center, center);
    height: 90vh;
    @include hero_background(rgba(0, 0, 0, .8), $welcome-bg, overlay, center, fixed);

    &__slogan {
        display: block;
        font: {
            family: $titles-font;
            weight: 700;
            size: 2rem
        }
        text-align: center
    }
    
    &__slogan::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1.2em;
        border: 3px solid $accent-color;
        margin-left: 5px;
        animation: caret .5s steps(2) infinite;
    }
    
    @keyframes caret {
        from {
            visibility: hidden;
        }
        to {
            visibility: visible;
        }
    }
    
    &__scrolldown {
        position: absolute;
        bottom: 10px;
        display: block;
        width: 40px;
        animation: scroll 2s ease-in-out infinite;
    }
    
    @keyframes scroll {
        from {
            transform: translateY(-20%);
            opacity: 0;
        }
        50% {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(20%);
            opacity: 0;
        }
    }
}
