$border-radius: 10px;
$welcome-bg: url(../../img/bg/welcome-bg.jpg);
$not-found-bg: url(../../img/bg/404-bg.jpg);

:root {
    scroll-behavior: smooth;
    --content-centering: 0 10%;
    
    @media #{$mobile-landscape} {
        --content-centering: 0 20%;
    }
    
    @media #{$mobile-tablet} {
        --content-centering: 0 5%;
    }
    
    @media #{$laptop-small} {
        --content-centering: 0 10%;
    }
    
    @media #{$laptop-normal} {
        --content-centering: 0 15%;
    }
    
    @media #{$laptop-big} {
        --content-centering: 0 20%;
    }
    
    @media #{$biggest-resolution} {
        --content-centering: 0 30%;
    }
}