:root {
    /* variables de color */
    --main-color: rgb(12, 12, 12);
    --secondary-color: rgb(28, 28, 28);
    --accent-color: orange;
    --font-color: white;
    /* Variables de tamaño de fuente */
    --slogan-font-size: 3.5rem;
    --section-titles-font-size: 3rem;
    --general-font-size: 1.5rem;
    --client-name-font-size: 1.5rem;
    --client-description-font-size: 1rem;
    --client-review-font-size: 1rem;
    --skill-name-font-size: 1.5rem;
    --skill-description-font-size: 1rem;
    --navbar-link-font-size: 1rem;
    --copyright-font-size: 1rem;
    --contact-link-font-size: 1rem;
    /* variables de tipografía */
    --titles-font: 'Open Sans', sans-serif;
    --general-font: "Open Sans", sans-serif;
    /* Variables generales */
    --temporal-border: 5px solid white;
    --header-footer-bgimg: url(../img/bg/header-footer-bg.jpg);
    /* Variables de gap en grids */
    --row-gap: 5% 0;
    --column-gap: 0 5%;
}

*, *::before, *::after {
    box-sizing: border-box;
    /* border: var(--temporal-border); */
    /* Márgenes absurdos */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
}

body {
    font-family: var(--general-font);
    line-height: 1.5;
    background-color: var(--main-color);
    color: var(--font-color);
}

h1, h2, h3 {
    font-family: var(--titles-font);
}

.header, .footer {
    background-image: var(--header-footer-bgimg);
    background-color: rgba(0, 0, 0, 0.753);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "navbar" "slogan" "scrolldown";
    gap: 1px 1px;
    background-position: bottom;
    height: 100vh;
    padding: 1%;
}

.navbar {
    grid-area: navbar;
    align-self: start;
    justify-self: right;
    margin-top: 10px;
}

.navbar-links-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar-link {
    text-decoration: none;
    color: var(--font-color);
    margin: 5px;
    font-weight: bold;
    font-size: var(--navbar-link-font-size)
}

.navbar-link:hover {
    color: var(--accent-color);
}

.logo {
    grid-area: navbar;
    justify-self: left;
    width: 200px;
}

.slogan {
    grid-area: slogan;
    align-self: center;
    justify-self: center;
    font-size: var(--slogan-font-size);
    font-family: var(--general-font);
    text-align: center;
    color: white;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.slogan::after {
    content: "";
    border: 3px solid var(--accent-color);
    margin-left: 5px;
    animation: cursor 1s step-end infinite;
}

@keyframes cursor {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.arrow-scroll {
    display: none;
}

.mouse-box {
    grid-area: scrolldown;
    align-self: end;
    justify-self: center;
    width: 45px;
    height: 60px;
    margin-bottom: 5px;
}

.mouse {
    border: 3px solid white;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.wheel {
    border: 4px solid white;
    width: .1%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border-radius: 50px;
    animation: wheelupdown 1.5s ease-out infinite;
}

@keyframes wheelupdown {
    from {
        opacity: 0;
        transform: translateY(15%)
    }
    50% {
        opacity: 1;
        transform: translateY(40%);
    }
    to {
        opacity: 0;
        transform: translateY(60%);
    }
}

.mobile-scroll {
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas: "whoiam" "webs" "opinions" "contact";
    gap: 1px 1px;
}

.section {
    padding-left: 20px;
    padding-right: 20px;
}

.section-title {
    text-align: center;
    font-size: var(--section-titles-font-size);
}

.orangetext {
    font-weight: normal;
    color: var(--accent-color);
}

.whoiam {
    grid-area: whoiam;
}

.whoiam-skills-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "desc skills";
    gap: var(--column-gap);
    justify-items: center;
    align-items: center;
}

.personal-description {
    grid-area: desc;
    width: 100%;
    text-align: left;
    font-size: var(--general-font-size);
}

.skills-grid {
    grid-area: skills;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 0;
    width: 100%;
}

.skill-card {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "skillicon skillname";
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skill-icon {
    grid-area: skillicon;
    display: block;
    justify-self: left;
    width: 100%;
    border-radius: 100%;
    padding: 5px;
    border: 3px solid var(--accent-color);
    margin: 10px;
}

.skill-name {
    grid-area: skillname;
    display: block;
    justify-self: center;
    font-size: var(--general-font-size);
    text-align: center;
    margin: 10px;
}

.skill-desc {
    display: block;
    font-size: var(--skill-description-font-size);
    text-align: center;
}

.webs-i-have-made {
    grid-area: webs;
}

.webs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: var(--row-gap);
    justify-items: center;
    align-items: center;
}

.web-image-presentation {
    display: block;
    width: 100%;
    border-radius: 10px;
    transition: transform .2s;
}

.web-image-presentation:hover {
    transform: scale(1.01);
}

.client-reviews {
    grid-area: opinions;
}

.client-reviews-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    justify-items: center;
    gap: var(--column-gap);
    align-items: center;
}

.client-card {
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
}

.client-photo {
    display: block;
    width: 100px;
    margin: 0 auto;
    border-radius: 100%;
}

.client-name {
    font-size: var(--client-name-font-size);
    text-align: center;
    margin-bottom: 0;
}

.client-description {
    text-align: center;
    font-size: var(--client-description-font-size);
    margin-top: 0;
}

.client-review {
    margin-top: 10px;
    text-align: center;
    font-size: var(--client-review-font-size);
}

.contact {
    grid-area: contact;
}

.contact-actioncall-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "actioncall contact";
    gap: var(--column-gap);
    justify-items: center;
    align-items: center;
}

.contact-action-call {
    grid-area: actioncall;
    width: 100%;
    text-align: left;
    font-size: var(--general-font-size);
}

.contact-grid {
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "mail" "instagram" "twitter";
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact-link {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 10px;
    line-height: 5;
}

.mail-icon, .instagram-icon, .twitter-icon {
    display: inline-block;
    margin-right: 10px;
    width: 38px;
    vertical-align: middle;
}

.mail {
    grid-area: mail;
    color: black;
    background-color: white;
}

.instagram {
    grid-area: instagram;
    color: black;
    background-color: whitesmoke;
}

.twitter {
    grid-area: twitter;
    color: white;
    background-color: rgb(0, 102, 255);
}

.footer {
    display: flex;
    align-items: center;
    background-position: top;
    height: 10vh;
    margin-top: 5%;
}

.copyright {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: var(--font-color);
    font-size: var(--copyright-font-size);
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
    .logo {
        justify-self: center;
        width: 170px;
    }
    .mouse-box {
        display: none;
    }
    .arrow-scroll {
        display: block;
        grid-area: scrolldown;
        justify-self: center;
        align-self: center;
        width: 10%;
        animation: scroll-down 2s ease-in-out infinite;
    }
    @keyframes scroll-down {
        from {
            opacity: 0;
            transform: translateY(-20%);
        }
        50% {
            opacity: 1;
            transform: translateY(0%);
        }
        to {
            opacity: 0;
            transform: translateY(20%);
        }
    }
    .whoiam-skills-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-template-areas: "desc" "skills";
        gap: var(--row-gap);
    }
    .skills-grid {
        width: 90%;
    }
    .webs-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        grid-auto-flow: row;
        justify-items: center;
        gap: var(--row-gap);
    }
    .web-image-presentation {
        width: 100%;
    }
    .client-reviews-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(3, minmax(min-content, max-content));
        grid-template-areas: "." "." ".";
        gap: var(--row-gap);
    }
    .client-card {
        width: 90%;
    }
    .contact-actioncall-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-template-areas: "actioncall" "contact";
        gap: var(--row-gap);
    }
}

@media screen and (max-width: 425px) {
    :root {
        /* Variables de tamaño de fuente */
        --slogan-font-size: 2.5rem;
        --section-titles-font-size: 2rem;
        --general-font-size: 1.3rem;
        --client-name-font-size: 1.5rem;
        --client-description-font-size: 1rem;
        --client-review-font-size: 1rem;
        --skill-name-font-size: 1rem;
        --skill-description-font-size: 1rem;
        --navbar-link-font-size: 1rem;
        --copyright-font-size: 1rem;
        --contact-link-font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 140px;
    }
}