:root {
    --main-bgcolor: #ffffff;
    --font-color: rgb(0, 0, 0);
    --hover-color: rgb(158, 63, 0);
    --header-bgimg: url(../img/header-background.jpeg);
    --titles-font: 'Nunito', monospace;
    --paragraphs-font: "Nunito", monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraphs-font);
    line-height: 1.5;
}

h1, h2 {
    font-family: var(--titles-font);
}

.header {
    background-image: var(--header-bgimg);
    background-color: rgba(0, 0, 0, 0.616);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0 0 20% 20%;
    box-shadow: 0 6px 10px gray;
    height: 100vh;
}

.navbar-links-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
}

.navbar-links {
    text-decoration: none;
    margin: 0 15px;
    color: white;
    text-transform: uppercase;
    font-family: var(--titles-font);
    font-size: 1.2em;
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: 3px;
}

.logo {
    height: 40px;
}

.welcome-slogan {
    font-size: 4.5em;
    width: 500px;
    font-family: var(--paragraphs-font);
    margin-left: 100px;
    color: white;
    font-weight: 400;
    text-align: right;
}

/* Scroll down anim */
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}
/* End of scroll down anim */

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "whoiam",
                         "webs",
                         "opinions",
                         "contact";
    gap: 10px;
}
.whoiam {
    grid-area: "whoiam";
    padding-left: 20px;
    padding-right: 20px;
}

.whoiam-title {
    text-align: center;
    font-size: 3rem;
}

.whoiam-skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "personal-description", "skills";
}

.personal-description {
    grid-area: "personal-description";
    margin: 20px;
    text-align: right;
    font-size: 1.5em;
}

.skills {
    grid-area: "skills";
    padding: 20px;
}