:root {
    --main-bgcolor: #f0f0f0;
    --font-color: rgb(0, 0, 0);
    --hover-color: rgb(158, 63, 0);
    --header-bgimg: url("../img/header-footer-bg.png");
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    /* flexbox settings */
    display: flex;
    flex-flow: row nowrap;
    flex: 50%;
    justify-content: space-between;
    align-items: center;
    /* end flexbox settings */
    /* box general styling */
    background-color: var(--main-bgcolor);
    background-image: var(--header-bgimg);
    background-blend-mode: lighten;
    background-position: top;
    background-size: cover;
    width: 100vw;
    height: 10vh;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.37);
    /* end of box general styling */
}

.logo {
    height: 7vh;
    transition: transform .2s; /* Zoom transition */
}

.logo:hover {
    transform: scale(1.1); /* Zoom animation */
}

.navbar-list {
    list-style-type: none; 
}

.navbar-list-element {
    display: inline;
    margin: 5px;
}

.navbar-element-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.body-grid {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
}

.main {
    padding: 20px;
    flex-basis: 75vw;
    order: 2;
}

.main section {
    background-image: var(--header-bgimg);
    background-color: var(--main-bgcolor);
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: right;
}

.sidebar {
    padding: 20px;
    flex-basis: 25vw;
    order: 1;
}
.footer {
    /* flexbox settings */
    display: flex;
    flex-flow: row nowrap;
    flex: 50%;
    justify-content: space-between;
    align-items: center;
    /* end flexbox settings */
    /* box general styling */
    background-color: var(--main-bgcolor);
    background-image: var(--header-bgimg);
    background-blend-mode: lighten;
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    height: 10vh;
    padding: 20px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.37);
    /* end of box general styling */
}