:root {
    /* variables de color */
    --main-color: rgb(12, 12, 12);
    --secondary-color: rgb(28, 28, 28);
    --accent-color: orange;
    /* variables de tipografía */
    --titles-font: 'Open Sans', sans-serif;
    --general-font: 'Montserrat', sans-serif;
    --font-color: white;
    /* Variables generales */
    --temporal-border: 5px solid white;
    --header-footer-bgimg: url(../img/bg/header-footer-bg.jpg);
    scroll-behavior: smooth;
    /* Variables de gap para grids */
    --grid-gap: 20px 0;
    /* Z index variables */
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

